<footer>
  <div class="f-outer">
    <div class="f-inner">
      
        <p>The WelfareParty would like to acknowledge the traditional custodians of the Australian Capital Territory; the Ngunnawal people. <br>We acknowledge and respect their continuing culture and contribution they make to the life of this city and this region.</p>
        <div id="divider-footer">
        <p>© Will Pak Poy 2021</p>
    </div>
  </div>
</header>
