<footer>
  <div class="f-outer">
    <div class="f-inner">
      
        <p>The WelfareParty would like to acknowledge the traditional custodians of the Australian Capital Territory; the Ngunnawal people. <br>We acknowledge and respect their continuing culture and contribution they make to the life of this city and this region.</p>
        <div id="divider-footer"></div>
        <p>Website content by Stuart, Will & Euan.
        <p class="madeby">👨&zwj;💻🎨 with ❤ by <a href="//willpakpoy.com" target="_blank" >Will Pak Poy</a></p>    </div>
  </div>
</header>
