<header>
  <div class="h-outer">
    <div class="h-inner">
      
          <div class="logo">
            {% include "static/images/WelfareParty-Kangaroo.svg" ignore missing %}
            {% include "static/images/WelfareParty-Text.svg" ignore missing %}
          </div>
          <div class="navbar">
            <a href="/">Home</a>
            <a href="/about-us">About Us</a>
            <!--<div class="subnav">
              <button class="subnavbtn">Issues <i class="fa fa-caret-down"></i></button>
              <div class="subnav-content">
                <a href="/issues/homelessness">Homelessness</a>
                <a href="/issues/workplace-discrimination">Workplace discrimination</a>
              </div>
            </div>-->
          
    </div>
  </div>
  <div class="links">
    
  </div>
</header>
