---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | WelfareParty</title>
    <link rel="stylesheet" href="/static/css/universal.css">
  </head>
  <body>
    {% include "./_header.njk" %}
    {{ content | safe }}
    <p>apparently this is content</p>
  </body>
</html>