<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | WelfareParty</title>
    <link rel="stylesheet" href="/static/styles/universal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  </head>
  <body class="{{ slug }}">
    {% include "./_header.njk" %}
    <main>{% block content %}{% endblock %}</main>
    {% include "./_footer.njk" %}
  </body>
</html>