footer {
    flex-grow: 1;
    background-color: #fc6;
    height: 100%;
    .f-inner {
        max-width: var(--default-page-margin-width);
        padding: 0 var(--default-inner-pad);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        #divider-footer {
            border-top: 2px solid #ffffff50
        }
    }
}