header {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  .h-outer {
    //height: var(--header-height-lock);
    background-color: var(--c-green);
  }
    .h-inner {
      max-width: var(--default-page-margin-width);
      width: 100%;
      ///
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 var(--default-inner-pad);

      @media screen and (max-width: 640px) {
        display: block;
        height: initial;
      }
      .logo {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
      svg {
        padding: 8px;
        height: 100%;
        max-height: 70px;
        margin-right: 4px;
        &:nth-child(2) {
          padding-left: 0px;
          height: 60%;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      .navbar {
        overflow: hidden;
        margin-left: auto;
        a {
          float: left;
          color: #fafafa;
          text-decoration: none;
          margin: 16px;
          transition: 0.2s all;
          &:hover {
            color: #fafafa75;
            transition: 0.2s all;
          }
          &:first-child {
            margin-left: 0px;
          }
        }

        .subnav {
          float: left;
          overflow: hidden;
        }
        button {
          background-color: transparent;
          border: none;
          float: left;
          color: #fafafa;
          text-decoration: none;
          margin: 10px;
          transition: 0.2s all;
          font-family: inherit;
          font-size: 16px;
          padding: 0px;
        }
      }
    }
}
///////////