.paragraph {
    width: 100%;
    max-width: var(--default-page-margin-width);
    padding: 0 var(--default-inner-pad);
    margin-left: auto;
    margin-right: auto;
}

.header-block-outer {
    background-color: #fc6;
    //height: var(--header-height-lock);
    .header-block-inner {
        padding: var(--default-inner-pad);
        width: 100%;
        max-width: var(--default-page-margin-width);
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 100%;
        h1 {
            margin: 0px;
        }
    }
}

.workplace-discrimination {
    main {
        blockquote {
            width: 100%;
            font-size: 3em;
            margin-left: 0px;
        }
        ul {
            font-size: 2em;
        }
    }

    
}


main img {
    width: 100%;
}


//////////////