header {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  .h-outer {
    height: var(--header-height-lock);
    background-color: var(--c-green);
  }
    .h-inner {
      max-width: var(--default-page-margin-width);
      width: 100%;
      ///
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 70px;
      margin-left: auto;
      margin-right: auto;

      svg {
        padding: 8px;
        height: 100%;
        margin-right: 4px;
        &:nth-child(2) {
          padding-left: 0px;
          height: 60%;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        margin-left: auto;
        li {
          float: left;
          height: 100%;
          position: relative;
          display: grid;
          place-items: center;
          a {
            color: #fafafa;
            text-decoration: none;
            margin: 10px;
            transition: 0.2s all;
            &:hover {
              color: #fafafa75;
              transition: 0.2s all;
            }
          }
        }
      }
    }
}
//////