.paragraph {
    width: 100%;
    max-width: var(--default-page-margin-width);
    padding: var(--default-inner-pad);
    margin-left: auto;
    margin-right: auto;
}

.header-block-outer {
    background-color: #fc6;
    height: var(--header-height-lock);
    .header-block-inner {
        padding: var(--default-inner-pad);
        width: 100%;
        max-width: var(--default-page-margin-width);
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 100%;
        h1 {
            margin: 0px;
            color: #fafafa;
        }
    }
}

/////////